body {
    position: relative;  
    background: #FFFDEF;
    text-align: center;
    padding: 2rem;
    width: 1440px;
    height: 1024px;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 850; 
    position: absolute;
    top: 40px;       
    left: 70px;   
    color: #E072A4;
    font-size: 200px;  
    text-align: left;
}

#descrp{
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 150;
    font-size: 24px;   
    text-align: left;
    position: absolute;
    left: 80px;        
    top: 350px;      
    width: 363px;        
    line-height: 1.5;
    color: #E072A4;
}

.box {
  position: absolute;  
  top: 500px;          
  left: 80px;   
  width: 200px;        /* you need width too */
  height: 150px;       
  background-color: #FFD116;  /* fixed hex code */
  border: 2px solid #333; 
  border-radius: 12px; 
}